.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-container img {
    margin-right: 8px;
  }
  
  .nav {
    display: flex;
    list-style-type: none;
  }
  
  .nav-item {
    margin-left: 10px;
  }
  
  .nav-link {
    color: inherit;
    text-decoration: none;
  }
  
  .nav-link.active {
    font-weight: bold;
  }
  